{% extends "layout.html" %}

{% block page_content %}

<div class="sidebar" style="position:fixed">
	<ul class="nav nav-sidebar">
		<li><a href="#" onclick="submit()">submit</a></li>
		<li><a href="#" id="save_code" data-toggle="modal" data-target="#save_code_modal">save</a></li> 
		<li><a id="start_debug" href="#" onclick="start_debug()">debug</a></li>
			<li><a class="debug_cmd" href="#" onclick="next_gdb()">next</a></li>
			<li><a class="debug_cmd" href="#">continue</a></li>
			<li><a class="debug_cmd" id="debug_cmd_stop" href="#">stop</a></li>
	</ul>
</div><!--sidebar-->
<div id="save_code_modal" class="modal fade" id="save_code_modal" tabindex="-1" role="dialog" 
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" 
					data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					Save Your Code
				</h4>
			</div>
			<div class="modal-body">
				<div class="form-horizontal" role="form">
					<div class="form-group">
						<label for="code_name" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="code_name" 
							placeholder="Please input your code name">
						</div>
					</div>
					<div class="form-group">
						<label for="code_info" class="col-sm-2 control-label">Code Info</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="code_info" 
							placeholder="Please input some descriptive text">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" 
					data-dismiss="modal">close
				</button>
				<button onclick="save_code()" id="save_code_button" type="button" class="btn btn-primary disabled" >
					save
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
	<pre id="editor" id="code_text">{{code_text}}
	</pre>

	<!--<div class="checkbox tooltip-show" data-toggle="tooltip"  title="输入code_name，否则无法保存" style="width:90px"> 
	  <label><small>
		<input type="checkbox" value="remember-me" id="save_code"> Save Code</small>
	  </label>
	</div>-->
	<!--<div class="tooltip-show" data-toggle="tooltip" title="Ctrl+'">
	<button onclick="submit()" type="submit" id="submit_code" class="btn btn-primary pull-left" >Submit</button>
	</div>-->

	<!--<div class="col-xs-4" style="margin-up:20px"> 
		<input class="form-control " placeholder="Code Name" id="code_name">
	</div>
	<div class="col-xs-4" style="margin-up:20px"> 
		<input class="form-control " placeholder="Code Info" id="code_info">
	</div>-->

<div style="padding-bottom:60px"></div>

<div class="panel panel-default" id="debug_panel" >
	<div class="panel-body" style="height:100%" id="debug_panel_result">
  </div><!--panel-body-->
</div><!--panel-->

<div class="panel panel-default" id="result_panel" >
  <div class="panel-body">
  	<div class="col-lg-12">
	  <h5>Your input</h5>
	  <!--<pre class="ng-binding"></pre>-->
	  <input class="form-control" placeholder="Your input" id="data_input">
	</div><!--col-lg-12-->

	<div class="col-lg-12">
	  <h5>Your stdout</h5>
	  <!--<input class="form-control" placeholder="stdout" name="data_output">-->
	  <pre id="data_output"></pre>
	</div>

	<div class="col-lg-12">
	  <h5>Runtime Error<h5>
	  <pre id="runtime_err"></pre>
	</div>

	<div class="col-lg-12">
	  <h5>Compile Error<h5>
	  <pre id="compile_err"></pre>
	</div>

  </div><!--panel-body-->
</div><!--panel-->


<script src="../static/src-min-noconflict/ace.js"></script>
<script src="../static/jquery.min.js"></script>
<script src="../static/jquery-ui/jquery-ui.min.js"></script>
<script>
$(document).ready(function() {
		var code_name_input = $("#code_name");
		code_name_input.on('input', function() {
			if (code_name_input.val() != "") {
				$("#save_code_button").removeClass("disabled");
				} else {
				$("#save_code_button").addClass("disabled");
				}
			});
		var dialog_width = ($(window).width())/3;
		var dialog_height = ($(window).height())/2;
			$(".debug_cmd").hide();
		$("#start_debug").click(function() {
			$(".debug_cmd").show();
			});
		$("#debug_cmd_stop").click(function() {
			$(".debug_cmd").hide();
			});
		$("#debug_panel").dialog({
			title: "Debug",
			position: {my: "right bottom", at: "right bottom"},
			height: dialog_height,
			width: dialog_width,
			autoOpen: false,
			show: {
			effect: "fade",
			duration: 300},
			hide: {
			effect: "fade",
			duration: 300
			},
			});
		$("#result_panel").dialog({
			title: "Result",
			position: {my: "right bottom", at: "right bottom"},
			height: dialog_height,
			width: dialog_width,
			autoOpen: false,
			show: {
			effect: "fade",
			duration: 300},
			hide: {
			effect: "fade",
			duration: 300
			},
			});
	var dialog = $(".ui-dialog");
	var win = $("html");
	var cx1 = 50;
	var cy1 = 50;
	var cx2 = win.width()- dialog.width()/2;
	var cy2 = win.height();
	dialog.draggable("option", "containment", "document");
	$("#result_panel").hide();
	$("#debug_panel").hide();
	$("#waiting").hide();
	//$("#code_name").hide();
	//$("#code_info").hide();
	//$("#save_code").click(function(){
	//	$("#code_name").toggle("slow");
	//	$("#code_info").toggle("slow")});

	// editor is a global var
	editor = ace.edit("editor");
	editor.setTheme("ace/theme/dawn");
	editor.session.setMode("ace/mode/c_cpp");
	editor.setAutoScrollEditorIntoView(true);
	editor.setOption("minLines", 20);
	editor.gotoLine(3);

	editor.commands.addCommand({
		name: 'submit',
		bindKey: {win:"Ctrl-'", mac: "Command-'"},
		exec: function(editor) {
		submit();
		},
		readOnly: true
		});
	editor.commands.addCommand({
		name: "showKeyboardShortcuts",
		bindKey: {win: "Ctrl-Alt-h", mac: "Command-Alt-h"},
		exec: function(editor) {
		ace.config.loadModule("ace/ext/keybinding_menu", function(module) {
			module.init(editor);
			editor.showKeyboardShortcuts()
			})
		}
		});
	<!--editor.execCommand("showKeyboardShortcuts");-->
	});
function submit() {
	$("#result_panel").dialog("open");
	var ajax_code_name = "";
	var ajax_code_info = "";
	var ajax_code_text = editor.getValue();
	var ajax_data_input = document.getElementById("data_input").value;
	$("#waiting").show();
	$.post(
			"/run_code/new",
			{ code_text: ajax_code_text,
data_input: ajax_data_input,
code_name: ajax_code_name,
code_info: ajax_code_info
}, 
function(result, status) {
$("#waiting").hide();
document.getElementById("data_output").innerHTML = result['ok_result'];
document.getElementById("runtime_err").innerHTML = result['re_result'];
document.getElementById("compile_err").innerHTML = result['ce_result'];
});
return false;
}

function save_code() {
	var ajax_code_name = $("#code_name").val();
	var ajax_code_info = $("#code_info").val();
	var ajax_code_text = editor.getValue();
	$.post(
			"/run_code/new",
			{ code_text: ajax_code_text,
			data_input: "",
code_name: ajax_code_name,
code_info: ajax_code_info
}, 
function(result, status) {
	$("#save_code_modal").modal('hide');
});
return false;
}

function start_debug() {
	$("#debug_panel").dialog("open");
	var ajax_code_text = editor.getValue();
	$.post("/debug",
			{cmd: "start",
				code_text: ajax_code_text
			},
			function(result, status) {
				$("#debug_panel_result").append(result['debug']);
			});
	return false;
}
function next_gdb() {
	$.post("/debug",
			{cmd: "next",
			},
			function(result, status) {
				$("#debug_panel_result").append(result['debug']);
			});
	return false;
}
</script>
{% endblock %}
