<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

	<title>Learn C</title>
	<link rel="stylesheet" href="../static/jquery-ui/jquery-ui.min.css">
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">


    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='learnc.css')}}" rel="stylesheet">
	<style>

.ace_editor {
	border: 1px solid lightgray;
	height: 500px;
	width: 100%;
}
.form-signin {
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
	margin-top: 90px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 19px;
	padding-bottom: 29px;
	padding-left: 29px;
	padding-right: 29px;
	max-width: 300px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #f5f5f5;
};
	</style>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid"> 
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('run_code', code_id='new')}}">LearnC</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
		  {% if g.user %}
            <li><a href="{{url_for('profile')}}">Profile</a></li>
            <li><a href="{{url_for('logout')}}">logout</a></li>
		 {% else %}
            <li><a href="{{url_for('login')}}">login</a></li>
            <li><a href="{{url_for('sign_up')}}">signup</a></li>
		 {% endif %}
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

	<div class="container-fluid"> 
		<div class="row"> 
			<div class="col-xs-10 col-xs-offset-1 main"> 

        {% with messages = get_flashed_messages(with_categories=true) %}
			{% for category, message in messages %}
			  {% if category == 'success' %}
					<div class="alert alert-success alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert">
							<span aria-hidden="true">&times;</span></button>
							{{ message }}
					</div>
			  {% endif %}
			  {% if category == 'warnning' %}
					<div class="alert alert-warning alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert">
							<span aria-hidden="true">&times;</span></button>
							{{ message }}
					</div>
			  {% endif %}
			{% endfor %}
		{% endwith %}
			{% block page_content %}{% endblock %}
		</div><!--col-xs-10-->
      </div><!--row-->
    </div>


{% block script %}
<script src="../static/jquery.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/jquery-ui/jquery-ui.min.js"></script>
{% endblock %}

  </body>
</html>
