{% extends "layout.html" %}

{% block page_content %}

<h2 class="sub-header">codepad</h2>
<form method="post" action="{{url_for('run_code')}}" >
	<div class="form-group">
		<textarea name='code_text' class="form-control" rows="20"></textarea>
	</div>

<!--	<div class="form-group">
		<textarea name="data_input" class="form-control" rows="1"></textarea>
	</div>-->

	<div class="form-group">
		<button type="submit" class="btn btn-primary pull-left">Submit</button>
	</div>
<div style="padding-bottom:60px"></div>

<div id="result">
<div class="panel panel-default"> 
  <div class="panel-heading">
  	<h5>Run Code Result:</h5>
  </div><!--panel-heading-->
  <div class="panel-body">
  	<div class="col-lg-12">
	  <h5>Your input</h5>
	  <!--<pre class="ng-binding"></pre>-->
	  <input class="form-control" placeholder="Your input" name="data_input">
	</div><!--col-lg-12-->

	<div class="col-lg-12">
	  <h5>Your stdout</h5>
	  <!--<input class="form-control" placeholder="stdout" name="data_output">-->
	  <pre id="data_output"></pre>
	</div>

	<div class="col-lg-12">
	  <h5>Runtime Error<h5>
	  <pre id="runtime_err"></pre>
	</div>

	<div class="col-lg-12">
	  <h5>Compile Error<h5>
	  <pre id="compile_err"></pre>
	</div>

  </div><!--panel-body-->
</div><!--panel-->
</div>
</form>

{% block script %}
	{{ super() }}
{% endblock %}
{% endblock %}
