{% extends "layout.html" %}

{% block page_content %}
<textarea id="testarea" style="width:100px;height:100px"></textarea>
  <div class="col-xs-8">
	<pre id="editor" id="code_text">{{code_text}}
	</pre>
  </div><!--col-xs-8-->

  <div class="col-xs-4">
	  <div class="box box-primary" id="run_code_result_box" >
		<div class="box-header with-border">
			<h3 class="box-title">Result</h3>
			<div class="box-tools pull-right">
				<!-- Buttons, labels, and many other things can be placed here! -->
				<!-- Here is a label for example -->
				<div class="box-tools pull-right">
					<button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
					<button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
				</div><!-- /.box-tools -->
			</div><!-- /.box-tools -->
		</div><!-- /.box-header -->
		<div class="box-body">
			<textarea id="data_input" style="width:100%" placeholder="input data"></textarea>
			<br>
			<pre class="pre-scrollable prettyprint" id="run_code_result" style="white-space:normal">
			</pre>
		</div><!-- /.box-body -->
	</div><!-- /.box -->

	<div class="box box-primary" id="debug_code_result_box">
		<div class="box-header with-border">
			<h3 class="box-title">Debug Result</h3>
			<div class="box-tools pull-right">
				<!-- Buttons, labels, and many other things can be placed here! -->
				<!-- Here is a label for example -->
				<div class="box-tools pull-right">
					<button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
					<button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
				</div><!-- /.box-tools -->
			</div><!-- /.box-tools -->
		</div><!-- /.box-header -->
		<div class="box-body"> 
		  <input id="arg_gdb" type="text" class="form-control" placeholder="input arguments">
		  <br>
		  <div class="btn-group" id="debug_code_btn">
			  <button disabled="disabled" onclick="next_gdb()" data-toggle="tooltip" title="next" type="button" class="btn btn-default" id="next_gdb"><small>N</small></button>
			  <button disabled="disabled" onclick="continue_gdb()"data-toggle="tooltip" title="continue" type="button" class="btn btn-default"><small>C</small></button>
			  <button disabled="disabled" onclick="step_in_gdb()"data-toggle="tooltip" title="stepin" type="button" class="btn btn-default"><small>S</small></button>
			  <button disabled="disabled" onclick="stop_gdb()"data-toggle="tooltip" title="stop" type="button" class="btn btn-default"><small>T</small></button>
			  <button disabled="disabled" onclick="backtrace_gdb()"data-toggle="tooltip" title="backtrace" type="button" class="btn btn-default"><small>B</small><small>T</small></button>
			  <button disabled="disabled" onclick="print_var_gdb()"data-toggle="tooltip" title="print_variable" type="button" class="btn btn-default"><small>P</small></button>
		  </div>
		  <div class="btn-group" id="debug_code_btn">
			  <button onclick="clean_gdb_output()" data-toggle="tooltip" title="clean_output" type="button" class="btn btn-default"><small>C</small></button>
		  </div>
		  <br>
		  <br>
		  <pre class="pre-scrollable prettyprint" id="debug_code_result" style="white-space:normal">
			</pre>
		</div><!-- /.box-body -->
	</div><!-- /.box -->
</div><!--col-xs-4-->
<div id="save_code_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" 
					data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					Save Your Code
				</h4>
			</div>
			<div class="modal-body">
				<div class="form-horizontal" role="form">
					<div class="form-group">
						<label for="code_name" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="code_name" 
							placeholder="Please input your code name">
						</div>
					</div>
					<div class="form-group">
						<label for="code_info" class="col-sm-2 control-label">Code Info</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="code_info" 
							placeholder="Please input some descriptive text">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" 
					data-dismiss="modal">close
				</button>
				<button onclick="save_code()" id="save_code_button" type="button" class="btn btn-primary disabled" >
					save
				</button>
            </div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->

<div id="join_room_modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" 
					data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel1">
                    Join In A Group
				</h4>
			</div>
            <div id="for_toggle_room">
			<div class="modal-body">
				<div class="form-horizontal" role="form">
					<div class="form-group">
						<label for="room_name" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="room_name"
							placeholder="Please input group name">
						</div>
					</div>
				</div>
			</div>
        </div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" 
					data-dismiss="modal">close
				</button>
				<button onclick="toggle_room()" id="join_group_button" type="button" class="btn btn-primary disabled" >
					join
				</button>
			</div>
		</div><!-- /.modal-content -->
    </div><!--/.modal-dialog-->
	</div><!-- /.modal -->
{% endblock %}
{% block page_script %}
{{ super() }}
<!-- learn js -->
<script src="../static/compressed_form.js"></script>
<script>
function run_code() {
	//$(".control-sidebar").addClass("control-sidebar-open");
	//$("#open-run-code-tab").trigger("click");
	//var white_pad_height = $(window).height()-400;
	//$(".white-pad").css("height", white_pad_height);
	$("#run_code_result_box").show();
	var ajax_code_name = "";
	var ajax_code_info = "";
	var ajax_code_text = editor.getValue();
	var ajax_data_input = document.getElementById("data_input");
	if (ajax_data_input == null) ajax_data_inpu = "";
	else ajax_data_input = ajax_data_input.value;
	$.post(
			"/run_code/new",
			{ code_text: ajax_code_text,
			data_input: ajax_data_input,
			code_name: ajax_code_name,
			code_info: ajax_code_info
			}, 
			function(result, status) {
			var ret = result['ok_result'];
			ret += '<br>' + result['re_result'];
			ret += '<br>' + result['ce_result'];
			$("#run_code_result").html(ret); 
			});
	return false;
}

function toggle_room() {
    var span_content = $("#share_code_span").html();
    if (span_content == "Share Code") 
        join_room();
    else {
        leave_room();
    }
    $("#join_room_modal").modal('hide');
}

function join_room() {
    mobwrite.share('testarea');
    var ajax_room_name = $("#room_name").val();
    glo_room_name = ajax_room_name;
    if (ajax_room_name == "")
        return;
    mobwrite.idPrefix = ajax_room_name;
    //glo_socket.emit('join room', {'room': ajax_room_name});
    $("#share_code_span").html("Stop Sharing");
    $("#join_group_button").html("leave");
    $.notify("Join in Group " + glo_room_name, "success");
    return false;
}

function leave_room() {
    mobwrite.unshare('testarea');
    //glo_socket.emit('leave room', {'room': glo_room_name});
    $("#share_code_span").html("Share Code");
    $("#join_group_button").html("join");
    return false;
}

function save_code() {
	var ajax_code_name = $("#code_name").val();
	var ajax_code_info = $("#code_info").val();
	var ajax_code_text = editor.getValue();
	$.post(
			"/run_code/new",
			{ code_text: ajax_code_text,
			data_input: "",
code_name: ajax_code_name,
code_info: ajax_code_info
}, 
function(result, status) {
	$("#save_code_modal").modal('hide');
});
return false;
}
function debug_init() {
	$("#debug_code_result_box").show();
	$("#debug_code_result").html("");
	$("#debug_code_btn").children().removeAttr("disabled");
}
function breakpoint_gdb() {
	var cmd = $("#cmd_gdb").val();
	var arg = $("#arg_gdb").val();
	alert(cmd);
	alert(arg);
	$.post("/debug",
			{cmd: cmd,
				arg: arg
			},
			function(result, status) {
			alert("in return");
			$("#debug_code_result").append(result['debug']);
			});
	return false;
}

function start_debug() {
	//$(".control-sidebar").addClass("control-sidebar-open");
	//$("#open-debug-code-tab").trigger("click");
	//var white_pad_height = $(window).height()-400;
	//$(".white-pad").css("height", white_pad_height);
	debug_init();
	var ajax_code_text = editor.getValue();
	$.post("/debug",
			{cmd: "start",
				code_text: ajax_code_text
			},
			function(result, status) {
				$("#debug_code_result").append(result['debug']);
			});
	return false;
}
function next_gdb() {
	$.post("/debug",
			{cmd: "next",
			},
			function(result, status) {
			$("#debug_code_result").append(result['debug']);
			});
	return false;
}
function continue_gdb() {
	$.post("/debug",
			{cmd: "continue",
			},
			function(result, status) {
			$("#debug_code_result").append('<br>'+result['debug']);
			});
	return false;
}
function step_in_gdb() {
	$.post("/debug",
			{cmd: "step_in",
			},
			function(result, status) {
			$("#debug_code_result").append('<br>'+result['debug']);
			});
	return false;
}
function list_bp_gdb() {
	$.post("/debug",
			{cmd: "list_bp",
			},
			function(result, status) {
			$("#debug_code_result").append('<br>'+result['debug']);
			});
	return false;
}
function backtrace_gdb() {
	$.post("/debug",
			{cmd: "backtrace",
			},
			function(result, status) {
			$("#debug_code_result").append('<br>'+result['debug']);
			});
	return false;
}
function update_breakpoints(glo_bps) {
	var args = [];
	for ( i in glo_bps)
		args.push(i);
	$.post("/debug",
			{cmd: "update_breakpoints",
			arg: String(args)
			},
			function(result, status) {
			$("#debug_code_result").append('<br>'+result['debug']);
			});
	return false;
}
function print_var_gdb() {
	var v = $("#arg_gdb").val();
	if (v == '') {
		alert("please input variable name");
		return ;
	}
	$.post("/debug",
			{cmd: "print_var",
			arg: v
			},
			function(result, status) {
			$("#debug_code_result").append('<br>'+result['debug']);
			});
	return false;
}
function clean_gdb_output() {
	$("#debug_code_result").html("");
}
function stop_gdb() {
	$("#debug_code_btn").children().attr("disabled", "disabled");
	$("#debug_code_result").html("");
	$.post("/debug",
			{cmd: "stop",
			},
			function(result, status) {
			$("#debug_code_result").append('<br>'+result['debug']);
			});
	return false;
}
$(document).ready(function() {
        $("#testarea").hide();
	var code_name_input = $("#code_name");
	code_name_input.on('input', function() {
		if (code_name_input.val() != "") {
			$("#save_code_button").removeClass("disabled");
			} else {
			$("#save_code_button").addClass("disabled");
			}
		});
    var room_name_input = $("#room_name");
    room_name_input.on('input', function() {
        if (room_name_input.val() != "") {
            $("#join_group_button").removeClass("disabled");
            } else {
            $("#join_group_button").addClass("disabled");
            }
        });
	// editor is a global var
	editor = ace.edit("editor");
	editor.setTheme("ace/theme/dawn");
	editor.session.setMode("ace/mode/c_cpp");
	editor.setAutoScrollEditorIntoView(true);
	//editor.setOptions({maxLines: 20});
	var winHeight = $(window).height();
	var navHeight = $("#navbar").height();
	$("#editor").height(winHeight-navHeight-150);
	editor.gotoLine(3,0);

	editor.commands.addCommand({
		name: 'submit',
		bindKey: {win:"Ctrl-'", mac: "Command-'"},
		exec: function(editor) {
		submit();
		},
		readOnly: true
		});
	editor.commands.addCommand({
		name: "showKeyboardShortcuts",
		bindKey: {win: "Ctrl-Alt-h", mac: "Command-Alt-h"},
		exec: function(editor) {
		ace.config.loadModule("ace/ext/keybinding_menu", function(module) {
			module.init(editor);
			editor.showKeyboardShortcuts()
			})
		}
		});
	editor.on("guttermousedown", function(e){ 
			if ($("#next_gdb").attr("disabled")) {
				alert("start debug before setup breakpoints");
				return;
				}
			var target = e.domEvent.target; 
			if (target.className.indexOf("ace_gutter-cell") == -1) 
			return; 
			if (!editor.isFocused()) 
			return; 
			if (e.clientX > 25 + target.getBoundingClientRect().left) 
			return; 

			var row = e.getDocumentPosition().row 
			if (row in e.editor.session.getBreakpoints()) {
				e.editor.session.clearBreakpoint(row);
				} else {
				e.editor.session.setBreakpoint(row);
				}
			glo_bps = e.editor.session.getBreakpoints();
			update_breakpoints(glo_bps);
			e.stop()
			})
	editor.on("change", function(e){ 
           var text = editor.getValue();
           $("#testarea").val(text);
			})
	<!--editor.execCommand("showKeyboardShortcuts");-->
        $("#testarea").change(function() {
                editor.setValue($("#testarea").val());
                editor.clearSelection();
                //editor.moveCursorTo($("#testarea").selectionStart);
                });
});

</script>
{% endblock %}
