{% extends "layout.html" %}

{% block page_content %}

<h1 >{{username}}</h1>
<div style="margin-top:30px" class="table-responsive">
	<table class="table table-striped" id="tbl">
		<tr class="active">
			<th>#</th>
			<th>Saved files</th>
			<th>Info</th>
			<th>Delete Entry</th>
		</tr>

		{% for entry in entries %}
		<tr>
			<td id="code_id"></td>
			<td><a href="/run_code/{{entry[1]}}"> {{entry[3]}}</a></td>
			<td>{{entry[5]}}</td>
			<td>
					<span style="cursor:pointer" id="del" onclick="delete_entry({{entry[4]}})" class="label label-danger">Del</span>
				</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% block script %}
{{ super() }}
<script>
$(document).ready(function() {
	$("#hide_time").hide();
	var i = 0;
	var table = document.getElementById("tbl")
	var rowNum = table.rows.length;
	for (i = 1; i < rowNum; i++) {
		table.rows[i].cells[0].innerHTML = i;
	}
});
</script>
<script>
function delete_entry(time) {
	$.post(
	"/delete_entry",
	{saved_time: time,
	},
	function(re, st) {
		window.location.replace("/profile");
	});
	return false;
}
</script>
{% endblock %}
{% endblock %}
